:root {
  --hue-primary: 25;
  --saturation-primary: 20%;
  --hs-primary: var(--hue-primary), var(--saturation-primary);
  --hue-secondary: 205;
  --saturation-secondary: 60%;
  --hs-secondary: var(--hue-secondary), var(--saturation-secondary);

  --color-b0: hsl(var(--hue-primary), 3%, 5%);
  --color-b1: hsl(var(--hs-primary), 15%);
  --color-b2: hsl(var(--hs-primary), 20%);
  --color-b3: hsl(var(--hs-primary), 30%);
  --color-b4: hsl(var(--hs-primary), 50%);
  --color-b5: hsl(var(--hs-primary), 70%);
  --color-b6: hsl(var(--hs-primary), 85%);
  --color-b7: hsl(var(--hs-primary), 95%);
  --color-b8: hsl(var(--hue-primary), 100%, 100%);

  color-scheme: light dark;
  
  --theme-control: hsl(var(--hs-secondary), 70%);
  --theme-fg: var(--color-b0);
  --theme-bg: var(--color-b8);
  --theme-bg-alt: var(--color-b7);
  --theme-border: var(--color-b6);
  --theme-focus: var(--color-b5);

  @media (prefers-color-scheme: dark) {
    .body-light {
      --theme-control: hsl(var(--hs-secondary), 70%);
      --theme-fg: var(--color-b0);
      --theme-bg: var(--color-b8);
      --theme-bg-alt: var(--color-b7);
      --theme-border: var(--color-b6);
      --theme-focus: var(--color-b5);
      --theme-transparent: hsla(var(--hue-primary), 11%, 100%, 0);
    }
    --theme-control: hsl(var(--hs-secondary), 30%);
    --theme-fg: var(--color-b7);
    --theme-bg: var(--color-b2);
    --theme-bg-alt: var(--color-b4);
    --theme-border: var(--color-b3);
    --theme-focus: var(--color-b5);
    --theme-transparent: hsla(var(--hue-primary), 11%, 20%, 0);
  }
  .body-dark {
    --theme-control: hsl(var(--hs-secondary), 30%);
    --theme-fg: var(--color-b7);
    --theme-bg: var(--color-b2);
    --theme-bg-alt: var(--color-b4);
    --theme-border: var(--color-b3);
    --theme-focus: var(--color-b5);
    --theme-transparent: hsla(var(--hue-primary), 11%, 20%, 0);
  }
}