body {
	padding: 40px;
}
.flex {
	display: flex;
}
.grow {
	flex: 1 1 0;
	min-width: 0;
	max-width: 100%;
}
.no-grow {
	flex: 0 0 auto;
	width: auto;
	max-width: 100%;
}
.calendar {
	display: flex;
	flex-direction: column;
	height: 600px;
}
.header {
	display: flex;
}
.header:after {
	content: '';
	overflow-y: scroll;
	visibility: hidden;
	flex-shrink: 0;
}
.body {
	position: relative;
	overflow: hidden scroll;
}
.sidebar {
	flex-basis: 4em;
}
.content {
	display: flex;
}
.resource {
	display: flex;
}
.column {
	border-width: 0 1px 1px 0;
	border-style: solid;
	border-color: #ccc;
	overflow: hidden;
}
.header .resource {
	flex-direction: column;
}
.header .column {
	min-height: 50px;
	text-align: center;
}
.events {
	position: relative;
	margin: 0 6px 0 0;
}
.event {
	position: absolute;
	border: 1px solid white;
	border-radius: 8px;
	background-color: #87adf1;
	color: white;
}
.event-title {
	white-space: nowrap;
	overflow: hidden;
}
.bg-events {
	position: relative;
}
.bg-event {
	position: absolute;
	background-color: #ccc;
	opacity: 0.3;
	width: 100%;
}
.time, .line {
	height: 40px;
}
.time {
	position: relative;
	top: -0.5em;
}
.line:not(:first-child):after {
	content: '';
	position: absolute;
	width: 100%;
	border-bottom: 1px solid #ccc;
}