.ec-day-grid {
  .ec-body {
    flex: 1 1 auto;

    .ec-day {
      min-height: 5em;
      position: relative;
    }
  }

  .ec-content {
    flex-direction: column;
    height: 100%;
  }

  .ec-uniform {
    .ec-content {
      overflow: hidden;  // remove scrolling due to hidden events
    }
    .ec-days {
      flex: 1 1 0%;  // % is required to work properly for both auto and fixed calendar height
      min-height: 0;
    }
    .ec-day {
      min-height: 0;
    }
  }

  .ec-day:first-child {
    border-left: none;
  }

  .ec-day-head {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    border: none;
    padding: 4px 4px 3px;
  }

  .ec-day-foot {
    position: absolute;
    bottom: 0;
    padding: 2px;
    font-size: .85em;

    a {
      cursor: pointer;
    }
  }
}
