body {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	padding: 0 40px;
}
@media (max-width: 575.98px) {
	body {
		padding: 0;
	}
	html {
		font-size: 12px;
	}
}
.row {
	display: flex;
}
.col {
	flex: 1 1 0%;
	min-width: 0;
	max-width: 100%;
}
